/*! Main navbar component */

@use '../abstracts/' as *;

.navbar {
  display: flex;
  @include bp(md) {
    flex-grow: 1;
    .nav-container {
      position: relative;
      top: -0.1rem;
      left: 1.5rem;
      width: 100%;
      max-width: 66.2rem;
      padding: 0 1.5rem;
      margin: 0 auto;
    }
    .nav__list {
      justify-content: space-between;
      gap: 1rem;
      & > .nav__item > .nav__link {
        padding: 0.8rem 2rem;
        background-color: var(--color-white);
        &:not([aria-expanded='true']) {
          border-radius: 1rem;
        }
        &.nav__sublist-toggler {
          padding-bottom: 0.7rem;
        }
        &:hover,
        &:focus-visible {
          background-color: transparent;
        }
      }
    }
  }
}

.navbar-toggler {
  display: none;
}

.navbar-contacts {
  display: flex;
  flex-direction: column;
  margin-top: 4.9rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  @include bp(md) {
    display: none;
  }
}
.navbar-socials {
  display: flex;
  gap: 1.2rem;
  margin-top: 0.7rem;
  margin-left: -0.3rem;
  @include bp(md) {
    display: none;
  }

  .icon {
    font-size: 4.6rem;
  }
}

@include bp-navbar {
  .navbar-toggler {
    position: relative;
    top: -0.1rem;
    z-index: 101;
    display: block;
    order: 1;
    width: 3rem;
    height: 1.9rem;
    border: 0;
    background-color: transparent;
    transition: trransform var(--transition-long-cubic);
  }

  .navbar-burger {
    --burger-color: var(--color-primary);

    display: block;
    width: 3rem;
    height: 0.1rem;
    background-color: var(--burger-color);
    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 3rem;
      height: 0.1rem;
      background-color: var(--burger-color);
      transition: transform var(--transition-long-cubic);
    }
    &::before {
      transform: translateY(-0.9rem);
    }
    &::after {
      transform: translateY(0.9rem);
    }
  }

  .navbar-toggler[aria-expanded='true'] {
    transform: translateX(0.4rem);
    .navbar-burger {
      background-color: transparent;
      &::after,
      &::before {
        border-radius: 0;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  .navbar {
    padding: 0 2.4rem;
    .nav-container {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      padding-top: 0;
    }

    .nav__list {
      flex-direction: column;
      align-items: initial;
      gap: 2.7rem;
      padding: 1rem 0;

      & > .nav__item > .nav__link {
        font-family: var(--font-merriweather);
        font-size: 3rem;
        line-height: 1;
      }
    }
  }
}
