/*! Nav component rules */

@use '../abstracts/' as *;

.nav__list {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-left: 0;
}

.nav__item {
  --container-offset: 0;

  position: relative;
  &[data-dropdown] {
    @include bp(md) {
      padding-bottom: var(--container-offset);
      margin-bottom: calc(var(--container-offset) * -1);
    }
  }
}

.nav__link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  text-decoration: none;

  .icon {
    position: relative;
    top: 0.2rem;
    margin-left: 0.6rem;
    font-size: 0.7rem;
    transition: transform var(--transition-medium-cubic);
  }
}

.nav__sublist-toggler {
  @include bp(md) {
    border-bottom: 1px solid transparent;
    transition: border-color var(--transition-medium-cubic);
    &[aria-expanded='true'] {
      border-color: var(--color-blue-light);
      .icon {
        transform: rotate(180deg);
      }
    }
  }
  .icon {
    @include bp(sm) {
      display: none;
    }
  }
}

.nav__sublist-container {
  --scrollbar-padding: 1rem;

  overflow: hidden;
  height: 0;
  transition: height 0.2s linear;
  @include bp(sm) {
    height: initial;
  }
  @include bp(md) {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 10;
    visibility: hidden;
    min-width: 17.1rem;
    width: max-content;
    max-width: 25rem;
    height: initial;
    padding: 0.2rem calc(1.7rem - var(--scrollbar-padding)) 1.2rem 2rem;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--color-white);
    box-shadow: var(--ui-shadow);
    transform: translateX(-50%);
    transition: none;
  }
}

.nav__sublist-container.is-visible {
  @include bp(md) {
    visibility: visible;
    max-height: initial;
    animation: sublist-appear 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  }
}

@keyframes sublist-appear {
  0% {
    opacity: 0;
    transform: translateY(1rem) translateX(-50%);
  }
}

.nav__sublist {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0;
  max-height: 50rem;
  padding-right: var(--scrollbar-padding);
  @include bp-navbar {
    padding-left: 2rem;
    & > .nav__item:first-child {
      padding-top: 1rem;
    }
  }
}

.nav__sublist .nav__link {
  display: inline-flex;
  align-items: center;
  width: 100%;
  min-height: 3.2rem;
  padding: 0;
  font-size: 1.6rem;
  line-height: 2.2rem;
  @include bp(sm) {
    position: relative;
    top: -0.1rem;
  }
}
