- const fonts = ['merriweather-regular', 'merriweather-bold', 'golos-text-regular'];

each font in fonts
  link(href=`@fonts/${font}.woff2`, rel='preload', as='font', type='font/woff2', crossorigin='anonymous')
