a.logo(href='#!') Estate
//- prettier-ignore
+navbar([
  { text: 'Недвижимость', href: '#!', icon: 'chevron', submenu: [ 
    { text: 'Жилая', href: '#!' }, 
    { text: 'Коммерческая', href: '#!' }, 
    { text: 'Инвестиционная', href: '#!' }, 
    { text: 'Эксклюзивная', href: '#!' }, 
  ]},
  { text: 'Услуги', href: '#!' }, 
  { text: 'Блог', href: '#!' },
  { text: 'О компании', href: '#!' },
])
address.header__contacts
  .header__socials
    a(href='#!', aria-label='Telegram') #[+icon('telegram')]
    a(href='#!', aria-label='WhatsApp') #[+icon('whatsapp')]
  a.header__phone(href='tel:+79998548585') +7 999 854 85 85
a.header__lang(href='#!') En
