section.hero
  .hero__content
    h1 Доверие и сервисная модель — основные показатели успеха в&nbsp;работе компании
    p Рынок недвижимости в 2025 году сталкивается с серьезными #[br.md]вызовами. Изменились ключевые тенденции и&nbsp;запросы&nbsp;инвесторов.
    p Объективный подход к анализу рынка, детальное изучение #[br.md]перспектив объектов, эффективные бизнес-модели #[br.md]и&nbsp;подтвержденная ликвидность — всё это способствует сохранению и увеличению капитала наших инвесторов.

  .hero__controls
    a.hero__button.button(href='#!') Связаться напрямую #[+icon('arrow')]
    .hero__socials
      a.social-link(href='#!') #[+icon('linkedin')]
      a.social-link(href='#!') #[+icon('insta')]

  .hero__person
    .hero__person-name Ярослав Попов
    .hero__person-caption СЕО Estate

  .hero__image #[+picture('hero.png', 'Hero', [''])]
