extends ../main.pug

block globals
  - var pageUrl = 'index';
  - var pageTitle = 'Arbuz Estate';

block content
  section.section
    h2 Инвестиционный отдел
    .staff
      article.card
        .card__image #[+picture('card-1.jpg', 'Staff member', [''])]
        .card__socials
          a.social-link(href='#!', aria-label='Instagram') #[+icon('insta')]
          a.social-link(href='#!', aria-label='LinkedIn') #[+icon('linkedin')]
        .card__content
          h3 #[a.card__link(href='#!') Анна Васильева]
          span.card__caption Операционный директор
      article.card
        .card__image #[+picture('card-2.jpg', 'Staff member', [''])]
        .card__socials
          a.social-link(href='#!', aria-label='Instagram') #[+icon('insta')]
          a.social-link(href='#!', aria-label='LinkedIn') #[+icon('linkedin')]
        .card__content
          h3 #[a.card__link(href='#!') Елена Морозова]
          span.card__caption Инвестиционный консультант
      article.card
        .card__image #[+picture('card-3.jpg', 'Staff member')]
        .card__socials
          a.social-link(href='#!', aria-label='Instagram') #[+icon('insta')]
          a.social-link(href='#!', aria-label='LinkedIn') #[+icon('linkedin')]
        .card__content
          h3 #[a.card__link(href='#!') Мария Кузнецова]
          span.card__caption Инвестиционный консультант
      article.card
        .card__image #[+picture('card-4.jpg', 'Staff member')]
        .card__socials
          a.social-link(href='#!', aria-label='LinkedIn') #[+icon('linkedin')]
        .card__content
          h3 #[a.card__link(href='#!') Алексей Смирнов]
          span.card__caption Инвестиционный консультант

  section.section
    h2 Маркетинг
    .staff
      article.card
        .card__image #[+picture('card-5.jpg', 'Staff member')]
        .card__socials
          a.social-link(href='#!', aria-label='Instagram') #[+icon('insta')]
          a.social-link(href='#!', aria-label='LinkedIn') #[+icon('linkedin')]
        .card__content
          h3 #[a.card__link(href='#!') Дмитрий Иванов]
          span.card__caption Руководитель отдела маркетинга
      article.card
        .card__image #[+picture('card-6.jpg', 'Staff member')]
        .card__socials
          a.social-link(href='#!', aria-label='Instagram') #[+icon('insta')]
          a.social-link(href='#!', aria-label='LinkedIn') #[+icon('linkedin')]
        .card__content
          h3 #[a.card__link(href='#!') Ольга Соколова]
          span.card__caption Главный редактор
      article.card
        .card__image #[+picture('card-7.jpg', 'Staff member', [''])]
        .card__socials
          a.social-link(href='#!', aria-label='Instagram') #[+icon('insta')]
          a.social-link(href='#!', aria-label='LinkedIn') #[+icon('linkedin')]
        .card__content
          h3 #[a.card__link(href='#!') Сергей Петров]
          span.card__caption Арт-директор
      article.card
        .card__image #[+picture('card-8.jpg', 'Staff member', [''])]
        .card__socials
          a.social-link(href='#!', aria-label='LinkedIn') #[+icon('linkedin')]
        .card__content
          h3 #[a.card__link(href='#!') Наталья Федорова]
          span.card__caption Маркетолог
