/* Default theme settings */

:root {
  // Pure Colors
  --color-primary: #0048ce;
  --color-blue-light: #d9e4f8;
  --color-blue: #548fff;
  --color-blue-2: #799ee5;
  --color-blue-3: #7d8cb4;
  --color-blue-4: #f1f4fd;
  --color-blue-dark: #003aa6;
  --color-gray: #6d6c72;
  --color-text: #111;
  --color-black: black;
  --color-white: white;

  // UI Colors
  --html-bg-color: var(--color-white);
  --text-body-color: var(--color-text);
  --tab-focus-color: var(--color-black);
  --content-link-color: var(--color-primary);
  --content-link-color-hover: var(--color-blue);
  --content-link-color-active: var(--color-blue-2);

  // UI Effects
  --ui-shadow: 0 14px 44px 0 rgba(125, 140, 180, 0.07);

  // Transitions
  --transition-props-color: color, background-color, border-color, text-decoration-color;
  --transition-func-cubic: cubic-bezier(0.4, 0.8, 0.4, 1);
  --transition-duration-short: 0.1s;
  --transition-duration-medium: 0.2s;
  --transition-duration-long: 0.3s;
  --transition-short-cubic: var(--transition-duration-short) var(--transition-func-cubic);
  --transition-medium-cubic: var(--transition-duration-medium) var(--transition-func-cubic);
  --transition-long-cubic: var(--transition-duration-long) var(--transition-func-cubic);

  // UI Transitions
  --transition-overlay: visibility 0.3s, opacity 0.3s;
}

:root,
::backdrop {
  --color-overlay-bg: rgba(0, 0, 0, 0.5);
  --color-stack-overlay-bg: rgba(0, 0, 0, 0.2);
}

// Atomic theme classes
.c-primary {
  color: var(--color-primary);
}
.c-secondary {
  color: var(--color-secondary);
}
